<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin - Player Ratings Details</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <div class="main-container">
    <div class="main-nav">
      <button onclick="location.href='/'">Vote</button>
      <button onclick="location.href='/admin'">Admin</button>
    </div>
    <h1>{{ player.playerInfo.firstName }} {{ player.playerInfo.lastName }}</h1>
    
    <!-- Player Info table -->
    <h3>Player Info</h3>
    <table class="ratings-table">
        <thead>
            <tr>
                <th>Stat</th>
                <th>Rating</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Name</td>
                <td>{{ player.playerInfo.firstName }} {{ player.playerInfo.lastName }}</td>
            </tr>
            <tr>
                <td>Height</td>
                <td>{{ player.playerInfo.height }}</td>
            </tr>
            <tr>
                <td>Position</td>
                <td>{{ player.playerInfo.position }}</td>
            </tr>
            <tr>
                <td>Playstyle</td>
                <td>{{ player.playerInfo.playstyle }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <!-- Playmaking table -->
    <h3>Playmaking</h3>
    <table class="ratings-table">
      <thead>
        <tr>
          <th>Stat</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Ball Handling</td>
          <td>{{ player.playmaking.ballHandling }}</td>
        </tr>
        <tr>
          <td>Pass Vision</td>
          <td>{{ player.playmaking.passVision }}</td>
        </tr>
        <tr>
          <td>Pass IQ</td>
          <td>{{ player.playmaking.passIQ }}</td>
        </tr>
      </tbody>
    </table>
    <br>
    <!-- Scoring table -->
    <h3>Scoring</h3>
    <table class="ratings-table">
      <thead>
        <tr>
          <th>Stat</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Layups</td>
          <td>{{ player.scoring.layups }}</td>
        </tr>
        <tr>
          <td>Mid Range</td>
          <td>{{ player.scoring.midRange }}</td>
        </tr>
        <tr>
          <td>3 Point</td>
          <td>{{ player.scoring.threePoint }}</td>
        </tr>
        <tr>
            <td>Post</td>
            <td>{{ player.scoring.post }}</td>
        </tr>
        <tr>
            <td>Shot Creation</td>
            <td>{{ player.scoring.shotCreating }}</td>
        </tr>
        <tr>
            <td>Shot IQ</td>
            <td>{{ player.scoring.shotIQ }}</td>
        </tr>
      </tbody>
    </table>
    <br>
    <!-- Rebounding tabl -->
    <h3>Rebounding</h3>
    <table class="ratings-table">
      <thead>
        <tr>
          <th>Stat</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Offensive Rebounding</td>
          <td>{{ player.rebounding.oreb }}</td>
        </tr>
        <tr>
          <td>Defensive Rebounding</td>
          <td>{{ player.rebounding.dreb }}</td>
        </tr>
      </tbody>
    </table>
    <br>
    <!-- Athleticism table -->
    <h3>Athleticism</h3>
    <table class="ratings-table">
      <thead>
        <tr>
          <th>Stat</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Speed</td>
          <td>{{ player.athleticism.speed }}</td>
        </tr>
        <tr>
          <td>Strength</td>
          <td>{{ player.athleticism.strength }}</td>
        </tr>
        <tr>
            <td>Stamina</td>
            <td>{{ player.athleticism.stamina }}</td>
          </tr>
          <tr>
            <td>Vertical</td>
            <td>{{ player.athleticism.vertical }}</td>
          </tr>
      </tbody>
    </table>
    <br>
    <!-- Defense table -->
    <h3>Defense</h3>
    <table class="ratings-table">
      <thead>
        <tr>
          <th>Stat</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Perimeter Defense</td>
          <td>{{ player.defense.perimeterDef }}</td>
        </tr>
        <tr>
          <td>Post Defense</td>
          <td>{{ player.defense.postDef }}</td>
        </tr>
        <tr>
            <td>Help Defense</td>
            <td>{{ player.defense.helpDef }}</td>
          </tr>
          <tr>
            <td>Steal</td>
            <td>{{ player.defense.steal }}</td>
          </tr>
          <tr>
            <td>Block</td>
            <td>{{ player.defense.block }}</td>
          </tr>
      </tbody>
    </table>
    <br>
    <!-- Intangibles table -->
    <h3>Intangibles</h3>
    <table class="ratings-table">
      <thead>
        <tr>
          <th>Stat</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Consistency</td>
          <td>{{ player.intangibles.consistency }}</td>
        </tr>
        <tr>
          <td>Communication</td>
          <td>{{ player.intangibles.communication }}</td>
        </tr>
      </tbody>
    </table>

    <br>
    <button onclick="location.href='/admin/ratings'">Back to List</button>
  </div>
</body>
</html>